
Zygobot_Playground/Content/MS_Blood/Megascans_Blood_Source.zip
Zygobot_Playground/Content/StarterContent/Props/Materials/M_Frame.uasset
Zygobot_Playground/Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
Zygobot_Playground/Content/StarterContent/Blueprints/Blueprint_CeilingLight.uasset
Zygobot_Playground/Content/ClassicMansion/Maps/Demonstration_BuiltData.uasset
Zygobot_Playground/Content/StarterContent/Props/Materials/M_Frame.uasset
Zygobot_Playground/Content/StarterContent/Architecture/Floor_400x400.uasset
Zygobot_Playground/Content/StarterContent/Architecture/Floor_400x400.uasset
Zygobot_Playground/Content/StarterContent/Blueprints/Blueprint_CeilingLight.uasset
Zygobot_Playground/Content/StarterContent/Particles/P_Ambient_Dust.uasset
Zygobot_Playground/Intermediate/CachedAssetRegistry.bin
Zygobot_Playground/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Zygobot_Playground/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Zygobot_Playground/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Zygobot_Playground/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Zygobot_Playground/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Zygobot_Playground/Intermediate/ReimportCache/3688439234.bin
Zygobot_Playground/Intermediate/ShaderAutogen/PCD3D_ES31/AutogenShaderHeaders.ush
Zygobot_Playground/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Zygobot_Playground/Saved/Autosaves/Game/Maps/L_Mansion_Auto1.umap
Zygobot_Playground/Saved/Autosaves/Game/Maps/L_Mansion_Auto2.umap
Zygobot_Playground/Saved/Autosaves/Game/Maps/L_Mansion_Auto3.umap
Zygobot_Playground/Saved/Autosaves/Game/Maps/L_Mansion_Auto4.umap
Zygobot_Playground/Saved/Autosaves/Game/Maps/L_Mansion_Auto5.umap
Zygobot_Playground/Saved/Autosaves/Game/Maps/L_Mansion_Auto6.umap
Zygobot_Playground/Saved/Autosaves/Game/Maps/L_Mansion_Auto7.umap
Zygobot_Playground/Saved/Autosaves/PackageRestoreData.json
Zygobot_Playground/Saved/Config/CrashReportClient/UECC-Windows-4C4D320B48A2D5C2886C599EAA7302BA/CrashReportClient.ini
Zygobot_Playground/Saved/Config/CrashReportClient/UECC-Windows-504DA11F4AC9CAE016F1D3988D5A2070/CrashReportClient.ini
Zygobot_Playground/Saved/Config/CrashReportClient/UECC-Windows-971EE16647C648ED6467B68B7C63671B/CrashReportClient.ini
Zygobot_Playground/Saved/Config/WindowsEditor/ApexDestruction.ini
Zygobot_Playground/Saved/Config/WindowsEditor/Compat.ini
Zygobot_Playground/Saved/Config/WindowsEditor/ControlRig.ini
Zygobot_Playground/Saved/Config/WindowsEditor/DeviceProfiles.ini
Zygobot_Playground/Saved/Config/WindowsEditor/Editor.ini
Zygobot_Playground/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Zygobot_Playground/Saved/Config/WindowsEditor/EditorScriptingUtilities.ini
Zygobot_Playground/Saved/Config/WindowsEditor/Engine.ini
Zygobot_Playground/Saved/Config/WindowsEditor/FullBodyIK.ini
Zygobot_Playground/Saved/Config/WindowsEditor/Game.ini
Zygobot_Playground/Saved/Config/WindowsEditor/GameUserSettings.ini
Zygobot_Playground/Saved/Config/WindowsEditor/HairStrands.ini
Zygobot_Playground/Saved/Config/WindowsEditor/Hardware.ini
Zygobot_Playground/Saved/Config/WindowsEditor/Input.ini
Zygobot_Playground/Saved/Config/WindowsEditor/Lightmass.ini
Zygobot_Playground/Saved/Config/WindowsEditor/Niagara.ini
Zygobot_Playground/Saved/Config/WindowsEditor/Paper2D.ini
Zygobot_Playground/Saved/Config/WindowsEditor/RuntimeOptions.ini
Zygobot_Playground/Saved/Config/WindowsEditor/Scalability.ini
Zygobot_Playground/Saved/Config/WindowsEditor/SourceControlSettings.ini
Zygobot_Playground/Saved/Config/WindowsEditor/Synthesis.ini
Zygobot_Playground/Saved/Config/WindowsEditor/TraceDataFilters.ini
Zygobot_Playground/Saved/Config/WindowsEditor/VariantManagerContent.ini
Zygobot_Playground/Saved/Config/WorldState/1502615745.json
Zygobot_Playground/Saved/Crashes/UECC-Windows-4C4D320B48A2D5C2886C599EAA7302BA_0000/Breadcrumbs_RHIThread_0.txt
Zygobot_Playground/Saved/Crashes/UECC-Windows-4C4D320B48A2D5C2886C599EAA7302BA_0000/CrashContext.runtime-xml
Zygobot_Playground/Saved/Crashes/UECC-Windows-4C4D320B48A2D5C2886C599EAA7302BA_0000/CrashReportClient.ini
Zygobot_Playground/Saved/Crashes/UECC-Windows-4C4D320B48A2D5C2886C599EAA7302BA_0000/UEMinidump.dmp
Zygobot_Playground/Saved/Crashes/UECC-Windows-4C4D320B48A2D5C2886C599EAA7302BA_0000/Zygobot_Playground.log
Zygobot_Playground/Saved/Crashes/UECC-Windows-504DA11F4AC9CAE016F1D3988D5A2070_0000/CrashContext.runtime-xml
Zygobot_Playground/Saved/Crashes/UECC-Windows-504DA11F4AC9CAE016F1D3988D5A2070_0000/CrashReportClient.ini
Zygobot_Playground/Saved/Crashes/UECC-Windows-504DA11F4AC9CAE016F1D3988D5A2070_0000/UEMinidump.dmp
Zygobot_Playground/Saved/Crashes/UECC-Windows-504DA11F4AC9CAE016F1D3988D5A2070_0000/Zygobot_Playground.log
Zygobot_Playground/Saved/Crashes/UECC-Windows-504DA11F4AC9CAE016F1D3988D5A2070_0001/CrashContext.runtime-xml
Zygobot_Playground/Saved/Crashes/UECC-Windows-504DA11F4AC9CAE016F1D3988D5A2070_0001/CrashReportClient.ini
Zygobot_Playground/Saved/Crashes/UECC-Windows-504DA11F4AC9CAE016F1D3988D5A2070_0001/UEMinidump.dmp
Zygobot_Playground/Saved/Crashes/UECC-Windows-504DA11F4AC9CAE016F1D3988D5A2070_0001/Zygobot_Playground.log
Zygobot_Playground/Saved/Logs/Zygobot_Playground-backup-2023.07.08-17.15.30.log
Zygobot_Playground/Saved/Logs/Zygobot_Playground-backup-2023.07.09-01.21.35.log
Zygobot_Playground/Saved/Logs/Zygobot_Playground.log
